flows.json
[{"id":"3949dfcc.3ce92","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e597d4f.d9731","type":"ui_form","z":"3949dfcc.3ce92","name":"","label":"","group":"15f44bc5.ad3564","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":160,"wires":[["b3cb7c17.40779","f387c883.47c0b8"]]},{"id":"b3cb7c17.40779","type":"debug","z":"3949dfcc.3ce92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"f387c883.47c0b8","type":"function","z":"3949dfcc.3ce92","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":160,"wires":[["2e5ad4fc.bd17bc"]]},{"id":"2e5ad4fc.bd17bc","type":"cloudant out","z":"3949dfcc.3ce92","name":"cloudant out","cloudant":"","database":"sample2","service":"node-red-zwdgu-2020--cloudant-1597403164664-41650","payonly":true,"operation":"insert","x":570,"y":160,"wires":[]},{"id":"3f3979ff.72e916","type":"ui_form","z":"3949dfcc.3ce92","name":"","label":"","group":"ab6d1b5f.c081b8","order":1,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":300,"wires":[["60a21a81.62ad84"]]},{"id":"60a21a81.62ad84","type":"function","z":"3949dfcc.3ce92","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":300,"wires":[["946c8329.800c6"]]},{"id":"946c8329.800c6","type":"function","z":"3949dfcc.3ce92","name":"","func":"var emailid=global.get('emailid');\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["613d5fd2.c984a"]]},{"id":"613d5fd2.c984a","type":"cloudant in","z":"3949dfcc.3ce92","name":"cloudant in","cloudant":"","database":"sample2","service":"node-red-zwdgu-2020--cloudant-1597403164664-41650","search":"_idx_","design":"user1","index":"user1","x":550,"y":300,"wires":[["44a5cd57.e8d6b4"]]},{"id":"44a5cd57.e8d6b4","type":"function","z":"3949dfcc.3ce92","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":300,"wires":[["ef018589.705228"]]},{"id":"ef018589.705228","type":"ui_text","z":"3949dfcc.3ce92","group":"ab6d1b5f.c081b8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":300,"wires":[]},{"id":"5eadbdeb.daed44","type":"ui_form","z":"3949dfcc.3ce92","name":"","label":"","group":"a741971d.df38b8","order":1,"width":0,"height":0,"options":[{"label":"User input ","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":400,"wires":[["1693abe9.c02cb4"]]},{"id":"1693abe9.c02cb4","type":"function","z":"3949dfcc.3ce92","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":400,"wires":[["aa09e290.a6cf1"]]},{"id":"aa09e290.a6cf1","type":"watson-conversation-v1","z":"3949dfcc.3ce92","name":"","workspaceid":"bdcc3efe-8aea-4ed5-987f-d038c8d5b6e5","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7af3aefa-433d-4e42-9adc-dfe5641d1474","timeout":"","optout-learning":false,"x":460,"y":400,"wires":[["9b2ec055.0b12b","c45287eb.afe2c8"]]},{"id":"9b2ec055.0b12b","type":"debug","z":"3949dfcc.3ce92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":480,"wires":[]},{"id":"c45287eb.afe2c8","type":"function","z":"3949dfcc.3ce92","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":400,"wires":[["1052562c.5897ea","595e1f06.82f7a"]]},{"id":"1052562c.5897ea","type":"ui_text","z":"3949dfcc.3ce92","group":"a741971d.df38b8","order":1,"width":"6","height":"6","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-left","x":880,"y":400,"wires":[]},{"id":"595e1f06.82f7a","type":"ui_audio","z":"3949dfcc.3ce92","name":"","group":"a741971d.df38b8","voice":"","always":"","x":870,"y":480,"wires":[]},{"id":"15f44bc5.ad3564","type":"ui_group","z":"","name":"reg","tab":"921deca8.8af33","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab6d1b5f.c081b8","type":"ui_group","z":"","name":"log","tab":"23fd940c.e5bc8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"a741971d.df38b8","type":"ui_group","z":"","name":"Bot","tab":"14e0338.fca5ccd","order":1,"disp":true,"width":"6","collapse":false},{"id":"921deca8.8af33","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"23fd940c.e5bc8c","type":"ui_tab","z":"","name":"login","icon":"dashboard","disabled":false,"hidden":false},{"id":"14e0338.fca5ccd","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false}]